---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Sidebar from '../../components/Sidebar.astro'
import Posts from '../../components/Posts.jsx'
import Pagination from '../../components/Pagination.astro'
import { getCollection } from "astro:content";

export async function getStaticPaths({paginate}){
    const unfilteredposts = await getCollection("posts")
    const posts = unfilteredposts.sort((a, b) => {return new Date(b.data.pubDate) - new Date(a.data.pubDate)})

    return paginate(posts, {
        pageSize: 4,
    })
}
const {page} = Astro.props;
// console.log(page)
---

<BaseLayout pageTitle="Blog">
    <p>This is an blog page.</p>
    <br />
    <div class="blogPage">
        <Posts client:load posts={page.data}/>
        <Sidebar posts={page.data}/>
        <Pagination pages={page}/>
    </div>
</BaseLayout>

<style>
    .blogPage{
 display: flex;
 gap: 20px;
 width: 100%;
}
@media screen and (max-width: 610px){
    .blogPage{
    flex-direction: column;
  }
}
</style>