---
import {Icon} from 'astro-icon'
import './Styles/BlogSidebarAnimations.css'
import './Styles/BlogSidebar.css'
interface Props {
    headings: Array<Object>;
}

const {headings} = Astro.props
const {language} = Astro.props

let i = 0;
---
<script>
</script>
<a id="showHide" onclick="document.querySelector('#aside').style.animation = 'showAside 0.5s forwards';
document.querySelector('#ArrowLeft').style.animation = 'hideArrow 0.5s forwards';
document.querySelector('#ArrowLeft').style.display = 'none';
document.querySelector('#ArrowRight').style.animation = 'showArrow 0.5s forwards';
document.querySelector('#ArrowRight').style.display = 'initial';">
<span id="ArrowLeft" style="cursor: pointer; position: absolute; top: 17vh; right: 20px; display: none; opacity: 0;"><Icon ArrowLeft width="27" name="ic:baseline-keyboard-double-arrow-left"/></span></a>
<aside id="aside">
    <a id="showHide" onclick="document.querySelector('#ArrowRight').style.animation = 'hideArrow 0.5s forwards';
    document.querySelector('#ArrowRight').style.display = 'none';
    document.querySelector('#aside').style.animation = 'hideAside 0.5s forwards';
    document.querySelector('#ArrowLeft').style.display = 'initial';
    document.querySelector('#ArrowLeft').style.animation = 'showArrow 0.5s forwards';">
        <span id="ArrowRight"><Icon style="cursor: pointer;" ArrowRight width="27" name="ic:baseline-keyboard-double-arrow-right"/></span>
    </a>
    <p class="navText">{language === '' ? 'Nessa página:' : 'On this page:'}</p>
    <nav>
        <ul>
            {
                headings.map((heading: any) => (
                    <li>
                        <a style={heading.depth > 2 ? "margin-left: " + heading.depth * 8 + "px;" : "margin-left: 0;"} href={`#${heading.slug}`}>{heading.depth <= 2 ? '• ' : ''}{heading.text}</a>    
                    </li>
                ))
            }
        </ul>
    </nav>
</aside>