---
import BlogPost from './BlogPost.astro'
const {posts} = Astro.props
---

<div class="postList">
    {posts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} 
    description={post.frontmatter.description} date={post.frontmatter.pubDate} tags={post.frontmatter.tags} />)}
</div>

<style>
.postList{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media screen and (max-width:610px){
    .postList{
        width: auto;
    }
}
</style>