---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro'
import Posts from '../../components/PostList/Posts.jsx'

export async function getStaticPaths(){
    const allPosts = await getCollection("posts");
    
    const titles = [...new Set(allPosts.map((post) => post.data.title).flat())]
    const desc = [...new Set(allPosts.map((post) => post.data.description).flat())]
    const reg = new RegExp(/[".']/gi)
    const titlewords = [...new Set(titles.map((title) => title.replace(reg, '').toLowerCase().split(' ')))]
    const descwords = [...new Set(desc.map((description) => description.replace(reg, '').toLowerCase().split(' ')))]
    const flatWords = titlewords.concat(descwords).flat();
    
    return flatWords.map((search) => {
        let filteredPosts = allPosts.filter((post) => post.data.title.toLowerCase().includes(search.toLowerCase()) || post.data.description.toLowerCase().includes(search.toLowerCase()));
        return {
            params: {search},
            props: {posts: filteredPosts},
        }
    })
}

const {search} = Astro.params;
const {posts} = Astro.props;
---

<BaseLayout pageTitle={search}>
    <div class="container">
        <h1 style="border-bottom: none; padding-bottom: 0.1em;">Posts com '{search}'</h1>
        <Posts posts={posts} />
    </div>
</BaseLayout>