---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro'
import Posts from '../../components/Posts.jsx'

export async function getStaticPaths(){
    const allPosts = await getCollection("posts");
    const titles = [...new Set(allPosts.map((post) => post.data.title))]

    return titles.map((title) => {
        const filteredPosts = allPosts.filter((post) => post.data.title.includes(title));
        return {
            params: {title},
            props: {posts: filteredPosts},
        }
    })
}

const {title} = Astro.params;
const {posts} = Astro.props;
---

<BaseLayout pageTitle={title}>
    <h1 style="border-bottom: none; padding-bottom: 0.1em;">Posts tagged with '{title}'</h1>
    <Posts posts={posts} />
</BaseLayout>