---
import BaseLayout from './BaseLayout.astro'
import BlogSidebar from '../components/BlogSidebar.astro'
import '../components/Styles/PostLayout.css'
const {entry} = Astro.props
const {frontmatter} = Astro.props
const {headings} = Astro.props
const englishVer = entry.id.slice(6).split('.')[0]

const title = `Plainspoken | ${frontmatter.title}`

function toDateString(Date: Date){
    const months = ["01", "02", "03", "04", "05", "06", 
    "07", "08", "09", "10", "11", "12"]

    const day = Date.getDate();
    const mouth = months[Date.getMonth()];
    const year = Date.getFullYear();

    return `${day}/${mouth}/${year}`;
  }
---

<BaseLayout pageTitle={title}>
    <div class="mainPostDiv">
    <div class="postDiv">
        <h1>{frontmatter.title}</h1>
        {frontmatter.portuguese !== '' ? <a href={frontmatter.portuguese + entry.id.split('.')[0]}>Versão em português</a> : <a href={'/blog/posts/' + englishVer}>English version</a>}
        <p>{frontmatter.portuguese === '' ? 'Publicado em: ' : 'Published on: '} {toDateString(frontmatter.pubDate)}</p>
        <p>{frontmatter.portuguese === '' ? 'Escrito por: ' : 'Written by: '}{frontmatter.author}</p>
        <p style="display: flex; gap: 10px; flex-wrap: Wrap;"><strong>Tags: </strong>{frontmatter.tags.map((tag) => <a href={"/tags/" + tag}>{tag}</a>)}</p>
        <br />
        {frontmatter.image.url ? <p style="text-align: center;"><img style="max-width: 100%;" src={frontmatter.image.url}/></p> : <span></span>}
        <p style="border-bottom: 1px solid var(--main); padding-bottom: 0.5em;">{frontmatter.description}</p>
        <slot />
    </div>
    <BlogSidebar language={frontmatter.portuguese} headings={headings} />
    </div>
</BaseLayout>