---
import type { MarkdownLayoutProps } from 'astro'
import BaseLayout from './BaseLayout.astro'
import BlogSidebar from '../components/BlogSidebar.astro'
const {frontmatter} = Astro.props
const {headings} = Astro.props
const title = `Blog | ${frontmatter.title}`
function toDateString(Date: Date){
    const months = ["01", "02", "03", "04", "05", "06", 
    "07", "08", "09", "10", "11", "12"]

    const day = Date.getDate();
    const mouth = months[Date.getMonth()];
    const year = Date.getFullYear();

    return `${day}/${mouth}/${year}`;
  }

console.log(Astro.props)
---

<BaseLayout pageTitle={title}>
    <BlogSidebar headings={headings}/>
    <div class="postDiv">
        <h1>{frontmatter.title}</h1>
        <p>Published on: {toDateString(frontmatter.pubDate)}</p>
        <p>Written by: {frontmatter.author}</p>
        <p style="display: flex; gap: 10px; flex-wrap: Wrap;"><strong>Tags: </strong>{frontmatter.tags.map((tag) => <a href={"/tags/" + tag}>{tag}</a>)}</p>
        {frontmatter.image.url ? <p style="text-align: center;"><img style="max-width: 100%;" src={frontmatter.image.url}/></p> : <span></span>}
        <p style="border-bottom: 1px solid var(--main); padding-bottom: 0.5em;">{frontmatter.description}</p>
        <slot />
    </div>

    <style>
        h1{
            border-left: 6px solid var(--highlight);
            padding-left: 0.3em;
            border-bottom: none;
        }
    </style>
</BaseLayout>